.submit {
   width:90%;
   margin-top: 2em;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
}
textarea {
   width:100%;
   height:10em;
   resize: vertical;
}
.password {
  width:100%;
}
.icon {
  float: left;
  margin-right: 1em;
  height: 5em;
}
